@import '~scss/style';

.orange {
  background-color: $primarycolor;
}

.ui.labeled.icon.button, .ui.labeled.icon.buttons .button {
  padding-left: 3.011429em !important;
  padding-right: 0.5em !important;
}

.ui.icon.button, .ui.icon.buttons .button {
  padding: 0.485714em .48571429em .48571429em;
}
