@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap');
@import 'scss/variables';

body {
  font-family: sans-serif;
}

.form-wrapper {
  width: 100%;
  min-height: 12.5rem;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;

  .input-fields-row {
    display: flex;
    flex-direction: row;
  }

  .info-msg,
  .error-msg,
  .success-msg {
    background-color: $tusk;
    margin: 0.6rem 0;
    padding: 0.6rem;
    border-radius: 0.1rem;
    text-align: center;
  }

  .success-msg {
    color: $green;
  }

  .error-msg {
    background-color: $pink;
    color: $red;
  }

  .form__label {
    width: 80%;
    margin: 0;
    box-sizing: border-box;

    .label__input-element {
      display: block;
      background-color: inherit;
      width: 95%;
      margin-top: 1.9rem;
      margin-bottom: 0.6rem;
      box-sizing: border-box;
      border: 0;
      border-bottom: 0.0625rem solid $gray;
      font-size: 1rem;
      outline: 0;
    }
  }

  .btn-section {
    display: flex;
    justify-content: flex-end;

    .form__submit-btn {
      background-color: $primarycolor;
      width: 7.5rem;
      height: 2.7rem;
      padding: 0.6rem;
      box-sizing: border-box;
      border: 0;
      border-radius: 0.4rem;
      font-size: 1.25rem;
      cursor: pointer;
      color: $white;
      outline: 0;
    }
  }

  .loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darkorangecolor;
    width: 7.5rem;
    height: 2.688rem;
    padding: 0.625rem;
    box-sizing: border-box;
    border: 0;
    border-radius: 0.4375rem;
    font-size: 1.25rem;
    cursor: progress;
    color: $white;
    outline: 0;
  }

  .loader {
    width: 1.875rem;
    height: 1.875rem;
    border: 0.25rem solid;
    border-radius: 50%;
    border-color: transparent $white;
    animation: 1s spin linear infinite;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

  .form__errors {
    font-weight: 100;
    color: $red;
  }
}
