@mixin icon {
  display: inline-block;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 auto;
  margin-right: 0.5rem;
  border: unset;
  font-size: 0;
  outline: none;
}

@mixin body-reset {
  margin: 0;
}

@mixin bio {
  width: 45%;
  margin: auto;
  padding-bottom: 2rem;
  font-weight: 100;
  line-height: 1.5rem;
}

@mixin profile-margin {
  margin: 12rem auto 1rem;
  font-size: 2rem;
}

@mixin profile-boxshadow {
  -webkit-box-shadow: $webkit-box-shadow;
  -moz-box-shadow: $moz-box-shadow;
  box-shadow: $box-shadow;
}
