@import '~sass-rem';
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');
@import 'variables';
@import 'mixins';
@import '~semantic-ui-css/semantic.min.css';

html {
  font-family: 'Rubik', sans-serif;
}

body {
  @include body-reset();
  font-family: 'Rubik', sans-serif;
}

.active {
  color: $activecolor;
}

.hover {
  color: $hovercolor;
}

@media screen and (max-width: 32rem) {
  html {
    font-size: 46.875%;
  }
}
