$primarycolor: #FD8234;
$whitecolor: #FFF;
$activecolor: $primarycolor;
$hovercolor: #F87829;
$graycolor: #C4C4C4;
$blackcolor: #000;
$searchborder: #808080;
$boxshadow: #E2E2E2;
$cardtitle: #4E4E4E;
$cardsummary: #676767;
$lightblackcolor: #2C2B2B;

$defaulticonstrokewidth: 0.03125rem;
$activeiconfill: 'FD8234';
$defaulticonfill: 'C4C4C4';
$white: #FFFF;
$darkorangecolor: #FD8234;
$black: #000;
$green: #008000;
$red: #F00;
$grey: #808080;
$tusk: #DFF2BF;
$pink: #FFBABA;
$gray: #808080;
$redcolor: rgb(148, 6, 6);
$webkit-box-shadow: 0 1rem 1rem -1rem rgb(185, 181, 181);
$moz-box-shadow: 0 1rem 1rem -1rem rgb(185, 181, 181);
$box-shadow: 0 1rem 1rem -1rem rgb(185, 181, 181);
