$primarycolor: #FD8234;
$whitecolor: #FFF;
$activecolor: $primarycolor;
$hovercolor: rgb(211, 84, 6);
$graycolor: #C4C4C4;

$defaulticonstrokewidth: 0.03125rem;
$activeiconfill: 'FD8234';
$defaulticonfill: 'C4C4C4';
$white: #FFFF;
$darkorangecolor: #FD8234;
$black: #000;
$green: #008000;
$red: #F00;
$grey: #808080;
$tusk: #DFF2BF;
$pink: #FFBABA;
$gray: #808080;
