$primarycolor: #FD8234;
$whitecolor: #FFF;
$activecolor: $primarycolor;
$hovercolor: rgb(211, 84, 6);
$graycolor: #C4C4C4;

$defaulticonstrokewidth: 0.03125rem;
$activeiconfill: 'FD8234';
$defaulticonfill: 'C4C4C4';
$white: #FFFF;
$darkorangecolor: #FD8234;
$black: #000;
$green: #008000;
$red: #F00;
$grey: #808080;

$spinner-primary: rgba(255, 151, 0, 0.2);
$spinner-orange: #FF9700;

$input-background: rgba(196, 196, 196, 0.15);
$comment-text: rgba(36, 41, 44, 0.5);
