@import '~scss/style';

.vote {
  display: flex;
  align-items: center;
  width: 10%;

  &__wrapper {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
  }

  span:not(.active) {
    font-size: 1rem;

    &:not(.active) {
      color: $graycolor;
    }
  }
}
