{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "macros",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "components": "./src/components/",
        "pages": "./src/pages/",
        "modules": "./src/store/modules/"
      }
    }]
  ]
}
