{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "macros",
    "react-hot-loader/babel",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-transform-destructuring",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "components": "./src/components/",
          "pages": "./src/pages/",
          "modules": "./src/store/modules/",
          "utils": "./src/utils/",
          "assets": "./src/assets/"
        }
      }
    ]
  ],
  "sourceMap": "inline"
}
