{
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "cy": true,
    "describe": true,
    "it": true
  },
  "extends": ["airbnb"],
  "rules": {
    "quotes": [2, "single"],
    "comma-dangle": 0,
    "indent": [2, 2]
  },
  "settings": {
    "import/resolver": {
      "node": {},
      "webpack": {
        "config": "config/webpack.dev.js"
      }
    }
  }
}
