@import 'scss/variables';
@import 'scss/functions';
@import 'scss/mixins';

.icon {
  &:not(div) {
    &:not(.add) {
      @include icon;
    }
  }

  &--upvote {
    background-image: icon(upvote);

    &:hover {
      background-image: icon(upvote, $activeiconfill);
      cursor: pointer;
    }

    &.icon--active { background-image: icon(upvote, $activeiconfill); }
  }

  &--downvote {
    background-image: icon(downvote);

    &:hover {
      background-image: icon(downvote, $activeiconfill);
      cursor: pointer;
    }

    &.icon--active { background-image: icon(downvote, $activeiconfill); }
  }
}
