@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap');
@import 'scss/variables';

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

.modal {
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  &.modal--hide {
    display: none;
  }

  &.modal--show {
    display: flex;
  }
}
