@import '~scss/style';

.inline-comment {
  position: absolute;
  right: 4rem;
  display: flex;
  flex-direction: column;
  width: 30%;

  &__status {
    &.green {
      color: $green;
    }

    &.red {
      color: $red;
    }
  }

  .extra {
    .content {
      margin: auto;
      padding: 0.3rem;
    }
  }

  .content {
    padding: 0.4rem;
  }

  .card {
    width: 100% !important;
  }
}
