@import '~scss/variables';

.card-wrapper {
  display: contents;
  width: 100%;
  text-decoration: none;
  color: $blackcolor;
}

.card {
  display: flex;
  flex-direction: column;
  background: #FFF;
  width: 80%;
  margin-bottom: 2.5rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.04), 0 0.25rem 0.3125rem 0 rgba(0, 0, 0, 0.04), 0 0.0625rem 0.625rem 0 rgba(0, 0, 0, 0.05);
  transition: all 0.1s ease-in;

  @media (max-width: 29.9375rem) {
    width: 100%;
    padding: 0 1rem;
  }

  &__thumbnail {
    position: relative;
    flex: 0 0 auto;
    background-position: center center;
    width: 100%;
    height: 10rem;
    border-radius: 0.5rem 0.5rem 0 0;
    object-fit: cover;
  }

  &__body {
    flex: 1 0 auto;
    padding: 1rem 2rem;

    &__category {
      margin: 0;
      font-size: 0.9rem;
      font-weight: 500;
      text-transform: uppercase;
      color: $primarycolor;
    }

    &__title {
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.7rem;
      color: $cardtitle;
    }

    &__summary {
      margin-top: 1rem;
      font-size: 0.9rem;
      font-weight: normal;
      line-height: 1.7rem;
      color: $cardsummary;
    }
  }

  &__footer {
    bottom: 1.875rem;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    &__user-avatar {
      display: inline-block;
      width: 2.8125rem;
      border-radius: 50%;
    }

    &__views-holder {
      display: flex;
      align-items: center;
    }

    &__total-views {
      margin-left: 0.5rem;
    }
  }
}

@media (max-width: 48rem) {
  .card {
    width: 90%;
    margin-bottom: 2.5rem;
  }
}
