@import 'scss/style';

.comment-form {
  position: relative;
  display: inline-block;

  textarea {
    display: block !important;
    width: 35rem !important;
    border: 0.15rem solid $primarycolor !important;
    resize: none !important;
  }

  &__create-comment {
    margin-bottom: -0.3125rem !important;
  }

  button {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 6rem;
    height: 2rem;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    align-content: center;
  }

  &__error {
    color: $red;
  }
}
